{% from 'section/column.html' import index_column %} {% from 'section/column.html' import index_showcase %} {% from 'section/column.html' import macro_article %} {% from 'section/column.html' import macro_pagination %} {% from 'section/column.html' import macro_reply %} {% from 'section/column.html' import macro_sidebar %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>homegate</title>
    <link href="{{ static_url('css/_style.css') }}" rel="stylesheet" />
    <script src="{{ static_url('js/_main.js') }}"></script>
    <script type="text/javascript">
        window.console.error = function() {};
    </script>
</head>

<body id="home" style="padding:0;overflow-x: hidden;">
    {{ macro_sidebar(current_user.user) }}
    <div class="ui top attached">
        <div class="ui top attached menu">
            <a class="item sidebar_ctrl">
                <i class="sidebar icon"></i>
            </a>
            {% block topbar %}{% endblock %}
        </div>
        <div class="ui bottom attached segment centered">
            <div class="pusher body_container">
                <div class="ui clearing"></div>
                <div class="ui content_layout">
                    <div class="ui message responseMessage hidden"> <i class="close icon"></i>
                        <div class="header"></div>
                        <p></p>
                    </div>
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
    {% block script %}{% endblock %}
</body>

</html>
