{% extends 'base.html' %} {% block topbar %} {% include 'section/topbar.html' %} {% endblock %} {% block content %}
<div class="ui three column grid stackable stackcolumn">
    <div class="column">
        {{ index_column('News', 'news', items) }}
        <div class="ui divider hidden"></div>
    </div>
    <div class="column">
        {{ index_column('Acgn', 'acgn', items) }}
        <div class="ui divider hidden"></div>
    </div>
    <div class="column">
        {{ index_column('Coding', 'coding', items) }}
        <div class="ui divider hidden"></div>
    </div>
</div>

{% endblock %}
