{% extends 'base.html' %} {% block content %}
<div class="ui center page grid">
    <div class="four wide column"></div>
    <div class="eight wide column">
        <div class="row" style="margin-top: 20%">
            <div class="ui hidden message responseMessage"> <i class="close icon"></i>
                <div class="header"></div>
                <p></p>
            </div>
            <form class="ui form segment">
                <div class="ui message error"></div>
                <div class="field">
                    <label>{{ translate('Email') }}</label>
                    <input placeholder="{{ translate('Email') }}" type="text" name="email">
                </div>
                <div class="ui green submit button submit-button fluid"><i class="icon sign in"></i>{{ translate('Send Reset Password Email') }}</div>
            </form>
        </div>
    </div>
    <div class="four wide column"></div>
</div>
{% endblock %} {% block script %}
<script type="text/javascript">
$(document).ready(function() {
    $('.message .close').on('click', function() {
        $(this).closest('.message').addClass('hidden');
    });

    $.fn.api.settings.api = {
        "account.forget_password": "{{ reverse_url('account.forget_password') }}",
    }

    var forgetPasswordFormValidator = {
        email: {
            identifier: 'email',
            rules: [{
                type: 'empty',
                prompt: "{{ translate('Please enter a email') }}"
            }]
        },
    }

    $('.ui.form').form(forgetPasswordFormValidator).api({
        action: 'account.forget_password',
        method: 'POST',
        serializeForm: true,
        beforeSend: function(settings) {
            return settings;
        },
        beforeXHR: function(xhr) {
            //
        },
        onSuccess: function(response, element) {
            if (response.success) {
                $('.responseMessage').removeClass('hidden').removeClass('negative').addClass('success').children('p').text(response.message);
                $('.responseMessage').children('.header:first').text('SUCCESS');
            } else {
                $('.responseMessage').removeClass('hidden').removeClass('success').addClass('negative').children('p').text(response.message);
                $('.responseMessage').children('.header:first').text('ERROR');;
            }
        },
        onError: function() {
            console.log('onError');
        },
        onAbort: function() {
            console.log('onAbort');
        }
    });

});
</script>
{% endblock %}
