{% extends 'account/account_base.html' %} {% block tab_content %}
<table class="ui table">
    <tbody>
        <tr>
            <td class="three wide">
                <a class="avatar">
                    <img class="ui avatar image" src="{{ static_url('images/avatar/jenny.jpg') }}"> Yang
                </a>
            </td>
            <td>Initial commit</td>
            <td class="right aligned">10 hours ago</td>
        </tr>
        <tr>
            <td class="three wide">
                <a class="avatar">
                    <img class="ui avatar image" src="{{ static_url('images/avatar/jenny.jpg') }}"> Yang
                </a>
            </td>
            <td>Initial commit</td>
            <td class="right aligned">10 hours ago</td>
        </tr>
        <tr>
            <td class="three wide">
                <a class="avatar">
                    <img class="ui avatar image" src="{{ static_url('images/avatar/jenny.jpg') }}"> Yang
                </a>
            </td>
            <td>Initial commit</td>
            <td class="right aligned">10 hours ago</td>
        </tr>
        <tr>
            <td class="three wide">
                <a class="avatar">
                    <img class="ui avatar image" src="{{ static_url('images/avatar/jenny.jpg') }}"> Yang
                </a>
            </td>
            <td>Initial commit</td>
            <td class="right aligned">10 hours ago</td>
        </tr>
        <tr>
            <td class="three wide">
                <a class="avatar">
                    <img class="ui avatar image" src="{{ static_url('images/avatar/jenny.jpg') }}"> Yang
                </a>
            </td>
            <td>Initial commit</td>
            <td class="right aligned">10 hours ago</td>
        </tr>
        <tr>
            <td class="three wide">
                <a class="avatar">
                    <img class="ui avatar image" src="{{ static_url('images/avatar/jenny.jpg') }}"> Yang
                </a>
            </td>
            <td>Initial commit</td>
            <td class="right aligned">10 hours ago</td>
        </tr>
        <tr>
            <td class="three wide">
                <a class="avatar">
                    <img class="ui avatar image" src="{{ static_url('images/avatar/jenny.jpg') }}"> Yang
                </a>
            </td>
            <td>Initial commit</td>
            <td class="right aligned">10 hours ago</td>
        </tr>
        <tr>
            <td class="three wide">
                <a class="avatar">
                    <img class="ui avatar image" src="{{ static_url('images/avatar/jenny.jpg') }}"> Yang
                </a>
            </td>
            <td>Initial commit</td>
            <td class="right aligned">10 hours ago</td>
        </tr>
        <tr>
            <td class="three wide">
                <a class="avatar">
                    <img class="ui avatar image" src="{{ static_url('images/avatar/jenny.jpg') }}"> Yang
                </a>
            </td>
            <td>Initial commit</td>
            <td class="right aligned">10 hours ago</td>
        </tr>
    </tbody>
</table>
{% endblock%}
