{% extends 'page_base.html' %} {% block element %}


<div class="sidebar">
    {% include 'account/account_sidebar.html' %}
</div>
<div class="mainbar">
    <div class="row">


        <table class="ui table">
            <tbody>
                <tr>
                    <td class="three wide">
                        <a class="avatar">
                            <img class="ui avatar image" src="{{ static_url('images/avatar/jenny.jpg') }}"> Yang
                        </a>
                    </td>
                    <td>Initial commit</td>
                    <td class="right aligned">10 hours ago</td>
                </tr>
                <tr>
                    <td class="three wide">
                        <a class="avatar">
                            <img class="ui avatar image" src="{{ static_url('images/avatar/jenny.jpg') }}"> Yang
                        </a>
                    </td>
                    <td>Initial commit</td>
                    <td class="right aligned">10 hours ago</td>
                </tr>
                <tr>
                    <td class="three wide">
                        <a class="avatar">
                            <img class="ui avatar image" src="{{ static_url('images/avatar/jenny.jpg') }}"> Yang
                        </a>
                    </td>
                    <td>Initial commit</td>
                    <td class="right aligned">10 hours ago</td>
                </tr>
                <tr>
                    <td class="three wide">
                        <a class="avatar">
                            <img class="ui avatar image" src="{{ static_url('images/avatar/jenny.jpg') }}"> Yang
                        </a>
                    </td>
                    <td>Initial commit</td>
                    <td class="right aligned">10 hours ago</td>
                </tr>
                <tr>
                    <td class="three wide">
                        <a class="avatar">
                            <img class="ui avatar image" src="{{ static_url('images/avatar/jenny.jpg') }}"> Yang
                        </a>
                    </td>
                    <td>Initial commit</td>
                    <td class="right aligned">10 hours ago</td>
                </tr>
                <tr>
                    <td class="three wide">
                        <a class="avatar">
                            <img class="ui avatar image" src="{{ static_url('images/avatar/jenny.jpg') }}"> Yang
                        </a>
                    </td>
                    <td>Initial commit</td>
                    <td class="right aligned">10 hours ago</td>
                </tr>
                <tr>
                    <td class="three wide">
                        <a class="avatar">
                            <img class="ui avatar image" src="{{ static_url('images/avatar/jenny.jpg') }}"> Yang
                        </a>
                    </td>
                    <td>Initial commit</td>
                    <td class="right aligned">10 hours ago</td>
                </tr>
                <tr>
                    <td class="three wide">
                        <a class="avatar">
                            <img class="ui avatar image" src="{{ static_url('images/avatar/jenny.jpg') }}"> Yang
                        </a>
                    </td>
                    <td>Initial commit</td>
                    <td class="right aligned">10 hours ago</td>
                </tr>
                <tr>
                    <td class="three wide">
                        <a class="avatar">
                            <img class="ui avatar image" src="{{ static_url('images/avatar/jenny.jpg') }}"> Yang
                        </a>
                    </td>
                    <td>Initial commit</td>
                    <td class="right aligned">10 hours ago</td>
                </tr>
            </tbody>
        </table>


    </div>
</div>
{% endblock%}
