{% extends 'base.html' %} {% block content %}
<div class="ui center page grid">
    <div class="four wide column"></div>
    <div class="eight wide column">
        <div class="row" style="margin-top: 20%">
            <div class="ui hidden message responseMessage"> <i class="close icon"></i>
                <div class="header"></div>
                <p></p>
            </div>
            <form class="ui form segment">
                <input type="hidden" name="token" value="{{ token }}">
                <div class="ui message error"></div>
                <div class="field">
                    <label>{{ translate('Email') }}</label>
                    <input placeholder="{{ translate('Email') }}" type="text" value="{{ email }}" disabled>
                </div>
                <div class="field">
                    <label>{{ translate('Password') }}</label>
                    <input placeholder="{{ translate('Password') }}" type="password" name="password">
                </div>
                <div class="field">
                    <label>{{ translate('Repeat Password') }}</label>
                    <input placeholder="{{ translate('Repeat Password') }}" type="password" name="repeat_password">
                </div>
                <div class="ui green submit button submit-button"><i class="icon sign in"></i>{{ translate('Reset Password') }}</div>
            </form>
        </div>
    </div>
    <div class="four wide column"></div>
</div>
{% endblock %} {% block script %}
<script type="text/javascript">
$(document).ready(function() {
    $('.message .close').on('click', function() {
        $(this).closest('.message').addClass('hidden');
    });

    $.fn.api.settings.api = {
        "account.reset_password": "{{ reverse_url('account.reset_password') }}",
    };

    var resetPasswordFormValidator = {
        password: {
            identifier: 'password',
            rules: [{
                type: 'empty',
                prompt: "{{ translate('Please enter a password') }}"
            }]
        },
        repeat_password: {
            identifier: 'repeat_password',
            rules: [{
                type: 'empty',
                prompt: "{{ translate('Please enter a repeat_password') }}"
            }]
        },
    }


    $('.ui.form').form(resetPasswordFormValidator).api({
        action: 'account.reset_password',
        method: 'POST',
        serializeForm: true,
        beforeSend: function(settings) {
            console.log(settings.data)
            return settings;
        },
        beforeXHR: function(xhr) {
            //
        },
        onSuccess: function(response, element) {
            if (response.success) {
                $('.responseMessage').removeClass('hidden').removeClass('negative').addClass('success').children('p').text(response.message);
                $('.responseMessage').children('.header:first').text('SUCCESS');
                setTimeout(function() {
                    window.location.href = "{{ reverse_url('account.signin') }}";
                }, 2000);
            } else {
                $('.responseMessage').removeClass('hidden').removeClass('success').addClass('negative').children('p').text(response.message);
                $('.responseMessage').children('.header:first').text('ERROR');;
            }
        },
        onError: function() {
            console.log('onError');
        },
        onAbort: function() {
            console.log('onAbort');
        }
    });
});
</script>
{% endblock %}
