<div class="ui footer vertical segment">
    <div class="ui stackable aligned page grid">
        <div class="ten wide column">
            <div class="ui horizontal list">
                <div class="item">
                    <div class="content">
                        <div class="header">About</div>
                    </div>
                </div>
                <div class="item">
                    <div class="content">
                        <div class="header">FAQ</div>
                    </div>
                </div>
                <div class="item">
                    <div class="content">
                        <div class="header">API</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="six wide column">
<!--             <div class="ui list">
                <div class="item">
                    <div class="content">
                        <a class="header">CN</a>
                    </div>
                </div>
                <div class="item">
                    <div class="content">
                        <a>EN</a>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</div>